body {
    font-family: "Dungeon", Helvetica, Arial, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*background: url("wood.jpg");
    background-size: contain;*/
    background-color: #202020;
}

#slider
{   
    width: 80%;
    margin: 0 auto;
}

#slider div a img
{
    height: 200px;
    margin: 0 auto; 

    border: solid white 3px;
    border-radius: 3px;
}

ul#nav {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

img#logo {
height: 150px;
}

@font-face {
    font-family: "Dungeon";
    src: url('dungeon.ttf');
}

body section p {
    font-style: normal;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: justify;
}

h2 {
    font-size: 3rem;
    color: #23bd00;
}

div#presClass {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}

div#presWeapon {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}

.imgDiv img{
    max-width: 100%;
    max-height: 400px;
}


div#presClass div p{
    margin: 0px;
}

div#presWeapon div p{
    margin: 0px;
}

#presClassTxt p{
    font-size: 1.5rem;
    text-align: justify;
}

#presWeaponTxt p{
    font-size: 1.5rem;
    text-align: justify;
}

#presClassTxt div{
    width:230px;
    height: 77px;
    text-align: center;
    line-height: 77px;
    vertical-align: middle;
    background-image: url("img/button.png");
    background-size: cover;
}

#presWeaponTxt div{
    width:230px;
    height: 77px;
    text-align: center;
    line-height: 77px;
    vertical-align: middle;
    background-image: url("img/button.png");
    background-size: cover;
}

#pres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

body section div{
    padding-left: 3%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

body section div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body section h2{
    margin-bottom: 0px;
}

body section div div p{
    margin: 0px;
}

body section div div a.weaponsA{
    margin: 0px;
    font-style: normal;
    font-size: 2rem;
    color: #FFFFFF;
}


body section div div a.weaponsA:hover{
    color: #ff8d00;
}

body section div div h3.weaponsH3{
    margin: 0px;
    font-style: normal;
    font-size: 2rem;
    color: #23bd00;
}

body h1{
    font-style: normal;
    font-size: 3rem;
    color: #23bd00;
}

body section#pres div div a h3 {
    margin: auto;
    color: black;
}

body table tr td a{
    font-style: normal;
    font-size: 2rem;
    color: #FFFFFF;
    padding: 20px;
}

body table tr td a:hover{
    color: #ff8d00;
}

body table tr td h2{
    margin-bottom: 0px;
    margin-top: 0px;
}
